<p>estadistica-anime works!</p>


Gráfico de barras de la cantidad de animes por año.<br>
Nube de palabras con los géneros más populares.<br>


Diagrama de dispersión correlacionando la duración de los episodios y el año de lanzamiento<br>

<!--SELECT paises, duraciones FROM pelis.anime; -->


Gráfico circular mostrando la proporción de animes por país de producción.<br>
<!--SELECT paises, COUNT(*) FROM pelis.anime GROUP BY paises ORDER BY paises ASC;-->

Media de animes de paises Histograma de la frecuencia de palabras en las sinopsis de los animes.<br>

- Grafica de Radar
    1) Cada pais sería una mancha de color
    2) Las propiedades o atributos con valores numericos serian los siguientes:
      2a) Duracion media de los capitulos
      2b) Media de los años de cada paises
      2c) Numero total de capitulos


  -Doughnut and Pie Charts

  Los gerenos  (Muchos )


<main class="main">

  
  

<div class="card-group">
  <div class="card">
    <canvas id="primera-grafica"></canvas>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <canvas id="segunda-grafica"></canvas>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <canvas id="tercera-grafica"></canvas>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>











  
</main>


<div>
  <canvas id="mapa-palabras"></canvas>
</div>
   


<div class="map-container">
  <div id="map"></div>
</div>
