<p>estadistica-comic works!</p>


Nube de palabras con los nombres de autores más frecuentes.<br>
Gráfico de barras de la cantidad de cómics por autor.<br>
Gráfico circular mostrando la proporción de géneros diferentes en los cómics.<br>
Análisis de sentimientos de las descripciones de cómics.<br>
Gráfico de líneas mostrando tendencias temporales (si aplica).<br>
Visualización de red conectando cómics con autores comunes.<br>



<main class="main">

  
  <div class="card-group">
    <div class="card">
      <canvas id="primera-grafica"></canvas>
      <div class="card-body">
        <h5 class="card-title">Comics de cada Autor</h5>
        <p class="card-text">Cantidad de Comics de cada Autor</p>
      </div>
    </div>
  </div>
  

    
  </main>
  
  
  <div>
    <canvas id="mapa-palabras"></canvas>
  </div>
     
    